@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color:black">
<div class="text-center">
    <h1 class="display-4" style="color:white">Welcome</h1>
    <p style="color:white" >Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</body>

